@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*,
::before,
::after{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    text-decoration: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    list-style: none;
}

:root {
    --color-background: #F7FAFF;
    --color-red: #FF3737;
    --color-black: #2B2B2B;
    --color-grey: #F4F4F6;
}

/*
    CONFIGURAÇÃO BÁSICA
 */

html {
    font-size: 62.5% !important;
    overflow: hidden;
    background-color: #F3F3F8;
}

ul {
    padding: 0;
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: #F3F3F8;
}


/*   SCROLL BAR   */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 2px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

/*   PLACEHOLDER   */
::-webkit-input-placeholder {
    color: #33333360;
    font-weight: 700;
    font-size: 1.4rem;
}

/*
    SUPER-CLASS
 */

.shadow-standard {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(58, 64, 76, 0.9);
}

.modal-edit-question {
    background-color: rgba(58, 64, 76, 0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
    Classes
 */

.container-main-web {
    width: 100%;
    height: 100%;
}

.container-main-web header {
    width: 100%;
    height: 10%;
    background-color: #F3F3F8D;
}

.container-main-web main {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F8;
}

.card-login-web {
    min-width: 15vw;
    min-height: 45vh;
    background-color: #fff;
    border: 2px solid #cccccc80;
    padding: 5vh 2vw;
    border-radius: 10px;
}

.card-login-web form {
    margin: 5vh 0 5vh 0;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.card-login-web form input {
    border: none;
    border-bottom: 2px solid #cccccc40;
    width: 100%;
    font-size: 1.4rem;
    padding: 5px 5px;
    transition: all ease-in-out .2s;
    color: #132E7D;
    font-weight: 700;
    font-size: 1.4rem;
}

.card-login-web form input:focus {
    border-bottom-color: #132E7D;
}

.card-login-web form input[type=submit] {
    background-color: #fff;
    color: #FA8A0C;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #FA8A0C;
    padding: 10px;
    transition: all ease-in-out .2s;
}

.card-login-web input[type=submit]:hover {
    background-color: #FA8A0C;
    color: #fff;
}

.welcome-logo {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center
}

.welcome-logo h6 {
    color: #444;
    font-size: 3rem;
    font-weight: 600;
}

.welcome-logo img {
    width: 7vw;
    height: auto;
}

.container-main-web footer {
    width: 100%;
    height: 10%;
    background-color: #F3F3F8;

}

/*
    App
 */

.container-app-main {
    width: 100vw;
    height: 100vh;
    background-color: #F3F3F8;
    display: flex;
    justify-content: space-between;
}

.container-app {
    width: 80vw;
    height: 100%;
    background-color: #F3F3F8;
}

/*
    Menu
 */

.menu-app {
    width: 15vw;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
}

.border-divisor {
    width: 100%;
    height: 2px;
    margin: 1vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-divisor {
    width: 80%;
    height: 100%;
    background-color: #cccccc30;
}

.logo-company {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-company img {
    width: 50%;
    height: auto;
}

.lists-menu {
    width: 100%;
}

.data-user-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}


.data-user-menu img {
    min-width: 4vw;
    max-width: 4vw;
    min-height: 8vh;
    max-height: 8vh;
    border-radius: 50%;
}

.data-user-menu p{
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
}

.data-user-menu span {
    color: #666;
    font-size: 1rem;
    font-weight: 500;
}


.list-menu span {
    padding: 0vh 1vw;
    font-size: 1.4rem;
    color: #666;
    font-weight: 600;
}

.list-menu nav {
    padding: 1vh 0 0 0;
    width: 100%;
}

.list-menu nav ul {
    width: 100%;
}

.list-menu nav ul li {
    width: 100%;
}

.list-menu nav ul li a {
    padding: 1vh 1vw 1vh 1.5vw;
    display: flex;
    align-items: center;
    gap: .2rem;
}

.list-menu nav ul li a i {
    color: #555;
    font-size: 1.6rem;
    transition: color .2s ease-in-out;
 }

.list-menu nav ul li a span {
    color: #555;
    font-size: 1.4rem;
    padding: 0 .5vw .3vh .5vw;
    font-weight: 600;
    transition: color .2s ease-in-out;
}

.list-menu nav ul li a:hover {
    background-color: #FAFAFA;
}

.list-menu nav ul li a:hover> span {
    color: #132e7d;
}

.list-menu nav ul li a:hover> i {
    color: #f08d28;
}

/*
    Formulários
 */

.container-form {
    width: 60%;
    height: 70%;
    border-radius: 10px;
}

.container-form h6, .container-app h6 {
    font-size: 2.4rem;
    color: #646464;
    font-weight: 500;
    padding: 1vh 0;
}

.items-form {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 3vh 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    grid-template-rows: repeat(auto-fill, 17%);
    grid-gap: 2rem;
}

.item-form {
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #cccccc90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    text-align: center;
    padding: 2rem;
}

.item-form i {
    font-size: 3rem;
    color: #555;
    transition: all .2s ease-in-out;
}

.item-form span {
    font-size: 1.4rem;
    color: #333;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.item-form:hover {
    cursor: pointer;
    border: 2px solid #132e7d;
    background-color: #fff;
}

.item-form:hover>i {
    color: #f08d28;
}

.item-form:hover>span {
    color: #132e7d;
}

/*
    Formulário modal
 */

.form-modal {
    width: 100vw;
    height: 100vh;
    background-color: #33333390;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-form {
    width: 50vw;
    height: 95%;
    background-color: #F3F3F8;
    border-radius: 10px;
    animation: expand .3s ;
    padding: 1vh 1vw;
}

@keyframes expand {
    from {
        opacity: 0.2;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.selections-form {
    margin: 2vh 0 0 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: auto;
}

.selections-form h6 {
    font-size: 3rem;
    color: #646464;
    font-weight: 500;
}

.selections-form form {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item-selection-form {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #cccccc90;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.item-selection-form span, .item-selection-form label {
    font-size: 1.6rem;
    color: #333;
}

.input-selection-form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-selection-form input[type=text] {
    border: none;
    border-bottom: 2px solid #cccccc90;
    width: 50%;
    height: 3vh;
    font-size: 1.6rem;
    padding: 0.5rem 0.3rem;
    transition: all .3s ease-in-out;
}

.input-selection-form input[type=text]:focus {
    border-bottom: 2px solid #132e7d;
}

.selections-form input[type=date] {
    border: none;
    border-bottom: 1px solid #cccccc90;
    font-size: 1.6rem
}



.selections-form input[type=submit] {
    border: 1px solid #FA8A0C;
    background-color: #fff;
    color: #FA8A0C;
    font-size: 1.6rem;
    font-weight: 500;
    padding: .7rem;
    border-radius: 5px;
    max-width: 5vw;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out .3s;
}


.selections-form input[type=submit]:hover {
    background-color: #FA8A0C;
    color: #fff;
}

/*
    Gerenciamento de formulários
 */

.management-form {
    width: 60%;
    height: 70%;
    border-radius: 10px;
}

.management-form table {
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
}

.management-form table tr th {
    text-align: left;
    border-bottom: 2px solid #cccccc20;
    border-right: 2px solid #cccccc20;
    height: 7vh;
    font-size: 1.6rem;
    color: #646464;
    padding: 0 2vw;
    background-color: #F3F3F850;

}

.management-form table tr th input[type=checkbox] {
    width: 1.5vw;
    height: 1.5vh;
}

.management-form table tr th input[type=checkbox]:focus {
    border-color: red;
}

.management-form table tr td {
    height: 5vh;
    padding: .5rem 2vw;
    font-size: 1.6rem;
    font-weight: 500;
    color: #646464;
    border-bottom: 1px solid #cccccc20;
}

#tableForms:hover {
    background-color: #FAFAFA;
}

.management-form table tr td i {
    cursor: pointer;
    font-size: 2rem;
    transition: all ease-in-out .2s;
}

.management-form table tr td i:hover {
    color: #f08d28;
}

.status {
    border-radius: 5px;
    color: #fff;
    padding: 3px 10px;
    font-size: 1.4rem;
    font-weight: 500;
}

.Ativo {
    background-color: #4AD09E;
}

.Pendente {
    background-color: #62798A;
}

.Inativo {
    background-color: #FE7B82;
}

.box-changes {
    width: 35vw;
    min-height: 30vh;
    background-color: #fff;
    border-radius: 10px;
    animation: expand .3s;
    overflow-y: auto;
}

.close-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 2.4rem;
    color: #777;
    padding: 10px;
    height: 5%;
}

.close-btn i {
    cursor: pointer;
}

.msg-box {
    width: 100%;
    height: 25%;
    border-bottom: 2px solid #cccccc40;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    padding: 0 0 3vh 0;
}

.trigger {
    color: #EC344E;
}

.sucess {
    color: #4AD09E;
}

.sucess-background {
    background-color: #4AD09E !important;
}

.sucess-background:hover {
    background-color: #379876 !important;
}

.alert-box {
    width: 100%;
    background-color: #F9F9FB;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6vh 0;
    height: 70%;
}

.alert-msg {
    width: 80%;
    height: 70%;
}

.alert-msg span {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
}

.alert-msg div p {
    font-size: 1.2rem;
    padding: 0 0 5px 0;
    font-weight: 600;
}

.i-gree {
    margin: 4vh 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fff;
}

.i-gree button:nth-child(1) {
    background-color: #EC344E;
    color: #fff;
    padding: 6px 15px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.i-gree button span {
    color: #fff;
    padding: 0 0 .2vh 0;
}

.i-gree button:nth-child(1):hover {
    background-color: #9b2e3c;
}

.title-new-form {
}

.plus {
    background-color: #00AF80;
    padding: 5px 7px;
    border-radius: 2px;
    cursor: pointer;
}

.plus i {
    color: #fff;
    font-size: .8rem;
}

.decrease {
    background-color: #EC344E;
    padding: 5px 7px;
    border-radius: 2px;
    cursor: pointer;
}

.decrease i {
    color: #fff;
    font-size: .8rem;
}

.new-btn {
    border: 1px solid #FA8A0C;
    background-color: #fff;
    color: #FA8A0C;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
    margin: 2vh 0;
    cursor: pointer;
    transition: all ease-in-out .2s;
    font-size: 1.4rem;
}

.new-btn:hover {
    background-color: #FA8A0C;
    color: #fff;
}

.new-form {
    background-color: #F3F3F8;
    overflow: hidden;
}

.new-form h6 {
    text-align: center;
    font-size: 2.8rem;
}

.fields-form-new {
    padding: 5vh 5vw;
}

.fields-form-new form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fields-form-new form input[type=submit] {
    border: 1px solid #FA8A0C;
    border-radius: 3px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    color: #FA8A0C;
    transition: all ease-in-out .2s;
    font-weight: 600;
    font-size: 1.8rem;
    transition: all ease-in-out .2s;
}

.fields-form-new form input[type=submit]:hover {
    background-color: #FA8A0C;
    color: #fff;
}

.field-form-new {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 15px 10px;
}

.fields-form-new label {
    font-size: 1.6rem;
    color: #333;
    font-weight: 600;
}

.field-form-new span {
    font-weight: 500;
    color: #646464;
}

.active_label {
    color: #132e7d !important;
    transition: all ease-in-out .1s !important;

}

.field-form-new input[type=text] {
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid #cccccc90;
    padding: 2px 2px;
    transition: all ease-in-out .2s;
    background-color: transparent;
}

.field-form-new input[type=text]:focus {
    border-bottom: 2px solid #132e7d;
}

.field_active {
    background-color: #fff;
    border-radius: 5px;
    transition: all ease-in-out .2s;
}

.input-checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-checkbox label{
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
}

.edit-form {
    width: 70vw;
    height: 90vh;
    background-color: #F3F3F8;
    overflow: hidden;
}

.edit-form h6 {
    text-align: center;
}

.container-edit-form {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 0 2vw 0 0;
}

.fields-edit-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 70vh;
    padding: 2vh 2vw;
}

.fields-edit-form h6 {
    font-size: 1.6rem;
}

.back-next {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-align: left;
    font-size: 2.6rem;
    color: #646464;
    font-weight: 500;
    padding: 1vh 0;
}

.back-next i {
    font-size: 2.4rem;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.back-next i:hover {
    color: #132e7d;
}

.back-next span {
    padding: 0 0 .4vh 0;
}

.field-edit-form {
    width: 75%;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #cccccc90;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field-edit-form span {
    font-size: 1.8rem;
}

.field-edit-form input[type=date] {
    border: none;
    border-bottom: 1px solid #cccccc90;
}

.field-edit-form label {
    font-size: 1.2rem;
}

.animation-opacity {
    animation: opacity .3s forwards;
}

@keyframes opacity {
    from {
        opacity: .2;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.options-edit-form {
    width: 25%;
    background-color: #fff;
    border: 2px solid #cccccc90;
    border-radius: 10px;
    height: 50vh;
}

.options-edit-form h6 {
    font-size: 1.4rem;
    font-weight: 600;
}

.options-edit-form nav {
    margin: 2vh 0;
}

.options-edit-form ul li {
    padding: 0 1vw;
    height: 7vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: #646464;
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.options-edit-form nav ul li:hover {
    background-color: #FAFAFA;
}

.options-edit-form nav ul li:hover> span {
    color: #132e7d;
}

.options-edit-form nav ul li:hover> i {
    color: #f08d28;
}

.options-edit-form i {
    font-size: 1.6rem;
}

.options-edit-form ul li span {
    padding: 0 0 .3vh 0;
}

.options-main-edit {
    width: 100%;
    background-color: #fff;
    border: 2px solid #cccccc90;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.options-main-edit li {
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    border-bottom: 1px solid #cccccc60;
    font-size: 1.4rem;
    font-weight: 500;
    color: #646464;
}

.options-main-edit li:hover {
    background-color: #FAFAFA;
}

.options-main-edit form {
    width: 100%;
}

.options-main-edit li form input[type=text] {
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid #cccccc90;
    padding: 2px 2px;
    transition: all ease-in-out .2s;
    background-color: transparent;
    width: 60%;
}

.options-main-edit input[type=text]:focus {
    border-bottom: 2px solid #132e7d;
}


.animation-left {
    animation: left .3s forwards;
}

@keyframes left {
    from {
        opacity: .2;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn-submit {
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 7px 20px;
    border-radius: 5px;
    border: 1px solid #FA8A0C;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out .2s;
    color: #FA8A0C;
}

.btn-submit:hover {
    background-color: #FA8A0C;
    color: #fff;
}

.field-copy li span {
    cursor: initial;
}

.field-copy li b {
    cursor: initial;
    user-select: text;
}

.field-new-question {
    min-height: 5vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1vh 1vw;
    border-bottom: 1px solid #cccccc60;
    font-size: 1.4rem;
    font-weight: 500;
    color: #646464;
}

.field-new-question input[type=text] {
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid #cccccc90;
    padding: 2px 2px;
    transition: all ease-in-out .2s;
    background-color: transparent;
    width: 60%;
}

.radios-new-question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radio-new-question {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.radio-new-question input[type=radio] {
    cursor: pointer;
}

.btn-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-actions i {
    transition: all ease-in-out .2s;
    font-size: 1.8rem;
    padding: .5vh 0 0 0;
    color: #646464;
    cursor: pointer;
}

.btn-actions i:hover {
    color: #f08d28;
}

.inputs-li li {
    gap: 1rem;
}

.inputs-li li:hover {
    background-color: #fff;
}

.inputs-li input[type=text] {
    border: none;
    border-bottom: 2px solid #cccccc90;
    width: 50%;
    height: 3vh;
    font-size: 1.6rem;
    padding: 0.5rem 0.3rem;
    transition: all .3s ease-in-out;
}

.inputs-li input[type=text]:focus {
    border-bottom: 2px solid #132e7d;
}

.new-chooses {
    width: 70%;
    height: 10vh;
    border-radius: 10px;
    padding: 0 1vw;
}

.new-chooses label {
    font-size: 1.2rem;
    font-weight: 600;
}

.chooses {
    display: flex;
    gap: 1rem;
}

.chooses span {
    padding: 0 0 .4vh 0;
    color: #646464;
}

.chooses i {
    font-size: 1.4rem;
    color: var(--color-red);
}

.choose {
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #fff;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.choose:hover {
    border: 2px solid #cccccc90;
}
